<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">Productos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="onLogout()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" routerLink="/idea">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item
    button
    [routerLink]="['/products/', idea.id]"
    *ngFor="let idea of ideas | async"
  >
    <ion-label
      ><h1><b>Nombre: </b>{{ idea.nombre }}</h1></ion-label
    >
    <ion-label
      ><h1><b>Tipo Producto: </b>{{ idea.tipo }}</h1></ion-label
    >
    <ion-label
      ><h1><b>Categoria: </b>{{ idea.categoria }}</h1></ion-label
    >
    <ion-img
      [src]="idea.imagen0"
      style="width: 10%; text-align: center; margin-left: 5%;"
    ></ion-img>
  </ion-item>
</ion-content>
