<ion-header *ngIf="idea.id">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;"
      >Editando {{ idea.nombre }}...</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!idea.id">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Crear Nuevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked"><h1>Nombre</h1></ion-label>
    <ion-input [(ngModel)]="idea.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><h1>Color</h1></ion-label>
    <ion-select [(ngModel)]="idea.color">
      <ion-select-option value="negro">Negra</ion-select-option>
      <ion-select-option value="blanca">Blanca</ion-select-option>
      <ion-select-option value="amarilla">Amarilla</ion-select-option>
      <ion-select-option value="gris">Gris</ion-select-option>
      <ion-select-option value="rosa">Rosa</ion-select-option>
      <ion-select-option value="azul">Azul</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><h1>Tallas disponibles</h1></ion-label>
    <ion-select multiple="true" [(ngModel)]="idea.talla">
      <ion-select-option value="XS">XS</ion-select-option>
      <ion-select-option value="S">S</ion-select-option>
      <ion-select-option value="M">M</ion-select-option>
      <ion-select-option value="L">L</ion-select-option>
      <ion-select-option value="XL">XL</ion-select-option>
      <ion-select-option value="XXL">XXL</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><h1>Genero</h1></ion-label>
    <ion-select [(ngModel)]="idea.genero">
      <ion-select-option value="chica">Chica</ion-select-option>
      <ion-select-option value="chico">Chico</ion-select-option>
      <ion-select-option value="unisex">Unisex</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><h1>Stock</h1></ion-label>
    <ion-input [(ngModel)]="idea.stock"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><h1>Precio</h1></ion-label>
    <ion-input [(ngModel)]="idea.precio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><h1>Imagen 1</h1></ion-label>
    <ion-input [(ngModel)]="idea.imagen0"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><h1>Imagen 2</h1></ion-label>
    <ion-input [(ngModel)]="idea.imagen1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><h1>Imagen 3</h1></ion-label>
    <ion-input [(ngModel)]="idea.imagen2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"><h1>Categoria</h1></ion-label>
    <ion-select [(ngModel)]="idea.categoria">
      <ion-select-option value="peliculas">Peliculas</ion-select-option>
      <ion-select-option value="bandas">Bandas</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><h1>Tipo</h1></ion-label>
    <ion-select [(ngModel)]="idea.tipo">
      <ion-select-option value="camiseta">Camiseta</ion-select-option>
      <ion-select-option value="accesorios">Accesorios</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-footer *ngIf="!idea.id">
  <ion-toolbar color="dark">
    <ion-button expand="full" fill="clear" color="light" (click)="addIdea()">
      Agregar Producto
    </ion-button>
  </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="idea.id">
  <ion-row style="margin-bottom: 3%;" class="ion-text-center">
    <ion-col size="6">
      <ion-button
        style="height: 200%;"
        expand="block"
        fill="outline"
        color="danger"
        (click)="presentAlertConfirm()"
      >
        <ion-icon name="trash" slot="start"></ion-icon>
        Eliminar
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button
        style="height: 200%;"
        expand="block"
        fill="solid"
        color="primary"
        (click)="updateIdea()"
      >
        <ion-icon name="save" slot="start"></ion-icon>
        Actualizar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
