<ion-header>
  <ion-toolbar style="text-align: center;" color="dark">
    <ion-title>Katana para Administradores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        class="ion-align-self-center"
        size-md="6"
        size-lg="5"
        size-xs="12"
      >
        <div class="ion-text-center">
          <h4>Iniciar Sesión</h4>
        </div>
        <div class="ion-padding">
          <ion-item>
            <ion-input
              [(ngModel)]="user.email"
              type="text"
              placeholder="Correo"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              [(ngModel)]="user.password"
              type="password"
              placeholder="Contra"
            ></ion-input>
          </ion-item>
        </div>

        <div class="ion-padding">
          <ion-button
            color="dark"
            size="large"
            (click)="onLogin()"
            expand="block"
            >Login</ion-button
          >
        </div>
        <h4 style="text-align: center;">
          <a
            style="
            color: rgb(54, 54, 54); text-decoration: none;"
            target="_blank"
            href="https://www.facebook.com/Katana-110931323606262/?ref=bookmarks"
            >Ver Katana como Cliente</a
          >
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
