<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">{{ idea.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item></ion-item>
  <ion-item>
    <ion-label> <b>Color:</b> {{ idea.color }} </ion-label>
    <ion-label> <b>Tallas:</b> {{ idea.talla }} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> <b>Stock:</b> {{ idea.stock }} </ion-label>
    <ion-label> <b>Precio($):</b> {{ idea.precio }} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> <b>Categoria:</b> {{ idea.categoria }} </ion-label>
    <ion-label> <b>Tipo:</b> {{ idea.tipo }} </ion-label>
  </ion-item>
  <ion-item>
    <ion-label> <b>Genero:</b> {{ idea.genero }} </ion-label>
  </ion-item>
  <ion-item></ion-item>
  <ion-item>
    <ion-img
      [src]="idea.imagen0"
      style="width: 20%; text-align: center; margin-left: 10%;"
    ></ion-img>
    <ion-img
      [src]="idea.imagen1"
      style="width: 20%; text-align: center; margin-left: 5%;"
    ></ion-img>

    <ion-img
      [src]="idea.imagen2"
      style="width: 20%; text-align: center; margin-left: 5%;"
    ></ion-img>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" button [routerLink]="['/idea', idea.id]">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
